{% extends 'base.html' %}
{% load i18n %}

{% block content %}
	<div class="b-wrapper m-portfolio">
	<h1 class='b-portfolio__title'>{% trans 'Portfolio' %}</h1>
	<div class='b-portfolio-categories'>
		{% for category in categories %}
			<div class='b-portfolio-categories-category'>
				<h2 class='b-portfolio-categories-category-name'>
					<a href='{{ category.get_absolute_url }}' class='b-portfolio-categories-category-name__link'>
						{{ category.name }}
					</a>
						{% if category.cover %}
					<a href='{{ category.get_absolute_url }}'>
						<img  class="b-portfolio-categories-category__img"src="{{ category.cover.url }}" alt="{{ category.name }}">
					</a>
						{% endif %}
				</h2>
<!-- 				<span class='b-portfolio-categories-category__project_count'>
					
				</span> -->
				<a href='{{ category.get_absolute_url }}' class="b-portfolio-categories-category__link">
					<span class="b-portfolio-categories-category__link-view">Посмотреть</span>
					<span class="b-portfolio-categories-category__link-count">{% trans "Total" %}: {{ category.get_public_projects.count }}</span>
					</a>
				<div class="b-portfolio-categories-category-project-list">
					{% for project in category.get_public_projects|slice:":3" %}
						<a href="{{ project.get_absolute_url }}" class="b-portfolio-categories-category-project-list__project_name">
							{{ project.name }}
						</a>
						<time class='b-portfolio-categories-category-project-list__project_date'>
							{{ project.created_at|date:"j E, Y"}}
						</time>
					{% endfor %}
				</div>
			</div><!-- b-portfolio-category -->
		{% endfor %}
	</div><!-- b-portfolio-categories -->
	</div>
{% endblock %}
