{% extends 'base.html' %}
{% load i18n %}

{% block content %}
	<h1 class='b-client__title'>{{ client.name }}</h1>

	<figure class='b-client'>
		<a href='{{ client.get_absolute_url }}'>
			<img src='{{ client.logo.url }}' alt='{{ client.name }}' class='b-client__logo' title='{{ client.name }}'>
			<figcaption class='b-client__name'>{{ client.name }}</figcaption>
		</a>
	</figure>

<div style='display: block; clear: both;'>
	<p><b>name:</b> {{ client.name }}</p>
	<p><b>slug:</b> {{ client.slug }}</p>
	<p><b>logo:</b> {{ client.logo }}</p>
	<p><b>description:</b> {{ client.description }}</p>
	<p><b>www:</b> {{ client.www }}</p>
	<p><b>order:</b> {{ client.order }}</p>
	<p><b>sites:</b> {{ client.sites.all }}</p>
	<p><b>reviews:</b> {{ client.client_reviews.all }}</p>
	<p><b>public:</b> {{ client.public }}</p>
	<p><b>created_at:</b> {{ client.created_at }}</p>
	<p><b>updated_at:</b> {{ client.updated_at }}</p>
</div>
{% endblock %}