{% extends 'base.html' %}
{% load i18n %}

{% block content %}
	<h1 class='b-categories__title'>{% trans 'Portfolio categories' %}</h1>
	<div class='b-categories'>
	{% for category in categories %}
		<div class='b-category'>
			<h2 class='b-category-name'>
				<a href='{{ category.get_absolute_url }}' class='b-category-name__link'>
					{{ category.name }}
				</a>
			</h2>
			<p class='b-category__description'>
				{{ category.description }}
			</p>
		</div>
		{# {{ category.category_project }} #}
		{% with projects=category.category_project.all %}
			{% include "portfolio/blocks/b-project-list.html" %}
		{% endwith %}
	{% endfor %}
	</div>



{% endblock %}
